<div class="bg-gray-100">
    <div class="bg-blue-500 text-white">
      <div>
        <div class='h-600px'>
          <img class='object-cover h-full w-full' src="https://img.freepik.com/free-vector/realistic-christmas-sale-banner-with-red-page_1361-3133.jpg?w=1380&t=st=1694866352~exp=1694866952~hmac=6475c7ef42e507b51eeffab4e1c90709e191ffcbec3616fd564a2b47d6689365" alt="Carousel Slide 1" />
        </div>
        <!-- <div class='h-600px'>
          <img class='object-cover h-full w-full' src="https://img.freepik.com/free-vector/modern-black-friday-sale-banner-background_1361-3705.jpg?w=1380&t=st=1694866575~exp=1694867175~hmac=880414f55e6b32bc95fccea8f739c20d9e1078f4e165669cdec34d98880f58ff" alt="Carousel Slide 1" />
        </div>
        <div class='h-600px'>
          <img class='object-cover h-full w-full' src="https://img.freepik.com/free-vector/flat-sale-banner-with-photo_23-2149026968.jpg?w=1380&t=st=1694866619~exp=1694867219~hmac=b1d7e2c1a5b4740004aa47ee4030aa53174850bc75c8945a8142887e31d52067" alt="Carousel Slide 1" />
        </div> -->
      </div>
    </div>
  
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-semibold">Shop the Latest Trends</h1>
      <p class="text-lg mt-2">Explore our collection of trendy products.</p>
    </div>
  
    <section class="bg-blue-500 py-16 text-white text-center">
      <div class="container mx-auto">
        <h2 class="text-3xl font-semibold mb-4">Ready to Shop?</h2>
        <p class="text-lg mb-8">Browse our wide range of products and grab the best deals!</p>
        <a routerLink="/products" class="bg-white text-blue-500 hover:bg-blue-700 py-2 px-6 rounded-full text-lg font-semibold transition duration-300">
          Start Shopping
        </a>
      </div>
    </section>
  </div>
  